{% extends "layout/base.twig" %}
{% block title %}Воттакой прикол{% endblock %}
{% block content %}
	<!-- in -->
	<h2>body</h2>	
	<div class="container">
		Lorem ipsum dolor sit amet.	
	</div>
{% endblock %}
