$base-font: 'Roboto', sans-serif;

$c-blue: #173e6e;
$c-red: #ff3000;

$pale-grey: #f9fafc;
$lightish-blue: #516cff;
$pastel-red: #e45e58;
$white: #faf7f7;
$white-two: #f2ecec;
$dark-blue-grey: #1d1841;
$pale-grey-two: #e7e8ed;
$dusk: #4f4b6c;
$white-three: #ffffff;
$pale-lilac: #fdfdff;
$dusk-two: #504a6f;
$white-four: #d8d8d8;
$cool-grey: #b7b5c4;
$white-five: #f0f0f0;
$white-six: #ececec;
$pale-grey-three: #ebebf4;
