.breadcrumbs{
  ul{
    display: flex;
    padding-top: 40px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    a{
     font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #524971;
      display: inline-block;
      padding: 4px;
    }
    span{
     font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      font-weight: bold;
      color: #524971;
      display: inline-block;
      padding: 4px;
    }
  }
}