.callTo{
  &__contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    span{
      display: inline-block;
      margin: 0 20px;
    }
    img{
      margin-right: 15px;
    }
    &__title{
      font-family: 'Roboto', sans-serif;
      font-size: 23px;
      font-weight: bold;
      color: $dark-blue-grey;
      width: 100%;
      text-align: center;
      padding-bottom: 14px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .callTo__contact{
    flex-direction: column;
  }
  .callTo__contact span{
    margin: 20px;
  }
}