.categoreProduct {
  &__h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    a{
      font-size: 14px;
      font-weight: bold;
      color: $pastel-red;
      position: relative;
      text-decoration: underline;
      padding-right: 20px;
      &:before{
        content: "";
        background: url("../img/icon/arrow-btn-hover.png")0 0 no-repeat;
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        top: -2px;
        right: 0px;
        transform: scale(-1,-1);
      }
    }
  }
  h2{
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #231349;

  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__row__item {
    width: 215px;
    min-height: 300px;
    border-radius: 5px;
    border: solid 1px $pale-grey-two;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    transition: all 0.4s;
    &:first-of-type{
      margin-left: 0;
    }
    img{
      width: auto;
    }
    &:hover{
      box-shadow: 0 2px 30px 0 rgba(92, 103, 133, 0.2), 0 2px 5px 0 rgba(79, 75, 108, 0.15);
      background-color: $pale-lilac;
    }
  }
  &__row__item__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #201546;
    padding-top: 30px;
    flex: 0 1 45%;
  }
  &__row__item__model {
    text-align: center;
    padding: 11px 8px;
    border-radius: 10px;
    border: solid 1px $dusk;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $dusk;
    margin: 0 auto;
    display: block;
    width: auto;
    transition: all 0.4s;
    &:hover{
      color: $pastel-red;;
    }
  }
  &__row__item__link {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $dusk-two;
    text-align: center;
    display: block;
    width: auto;
    min-width: 174px;
    transition: all 0.4s;
    margin: 30px auto 13px auto;
    &:hover{
      color: $pastel-red;;
    }
    &:after {
      content: "";
      background: url(../img/icon/arrow-btn.png) 0 0 no-repeat;
      transform: rotate(180deg);
      width: 9px;
      height: 8px;
      background-size: cover;
      padding-left: 0;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      right: -5px;
    }
  }
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .categoreProduct__row{
    justify-content: center;
  }
  .categoreProduct__row__item{
    margin: 15px;
  }
  .categoreProduct__row__item:first-of-type {
    margin-left: 15px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .categoreProduct__h2{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    h2{
      width: 100% ;
    }
  }
  .categoreProduct__h2 a{
    margin-top: 10px;
    display: inline-block;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


