<div class="container aboutUs-mob">
    <div class="wrapper">
        <div class="aboutUs">
          <div class="aboutUs__left">
              <div class="wrap_sub">
                  <p class="wrap_sub__title">Каталог оборудования</p>
                  <span class="wrap_sub__sub__title">Заказывайте оборудования или запасные части</span>
                  <ul>
                      <li><a href="#">Автоматика и электронника</a></li>
                      <li><a href="#">Генераторы</a></li>
                      <li><a href="#">Гидравлическое оборудование </a></li>
                      <li><a href="#">Датчики и измерительные линейки</a></li>
                      <li><a href="#">Домкраты, приводы</a></li>
                      <li><a href="#">Кабели промышленные</a></li>
                      <li><a href="#">Компрессоры, турбины</a></li>
                      <li><a href="#">Муфты</a></li>
                      <li><a href="#">Направляющие и СЛП</a></li>
                      <li><a href="#">Насосы и насосные станции</a></li>
                      <li><a href="#">Пневматическое оборудование</a></li>

                      <li><a href="#">Лазеры промышленные</a></li>
                      <li><a href="#">Фильтры</a></li>
                      <li><a href="#">Редукторы и мотор-редукторы</a></li>
                      <li><a href="#">Запорная арматура</a></li>
                      <li><a href="#">Ремни</a></li>
                      <li><a href="#">Станки и оборудование</a></li>
                      <li><a href="#">Столы координатные, поворотные</a></li>
                      <li><a href="#">Подъемно-транспортное оборудование</a></li>
                      <li><a href="#">Шпиндели</a></li>
                      <li><a href="#">Электродвигатели</a></li>
                      <li><a href="#">Электроприводы двигателя</a></li>
                  </ul>
              </div>
          </div>
            <div class="aboutUs__right">
                <h2>О нас</h2>
                <div class="aboutUs__right__text">
                    <p>Ассортимент импортного оборудования, поставляемого компанией ДАЛКОС, позволяет удовлетворить
                        потребности клиентов в высокотехнологичном оборудовании для испытаний и измерений, оборудовании
                        для обработки и переработки материалов, оборудовании для конвейерных и транспортных систем ,
                        оборудовании для подготовки и подачи воздуха и воды, в отдельных узлах и частях технологических
                        линий а также в гидравлическом оборудовании, генераторах, компрессорах, насосном, пневматическом
                        оборудовании, электродвигателях и приводной техники, компонентах автоматики и электроники, ЗИП и
                        расходных материалах.</p>

                    <p>Кроме того, богатый опыт работы на рынке промышленных компонентов позволяет нам быстро
                        идентифицировать необходимую Вам запасную часть, а также оперативно предложить аналог в случае,
                        если требуемая запасная часть оборудования больше не выпускается. А четко отлаженная система
                        логистика позволяет обеспечить доставку необходимого клиенту оборудования и запасных частей в
                        кратчайшие сроки.</p>
                </div>
                <div class="aboutUs__right__img">
                    <img src="/img/pic-factory.png" alt="">
                    <img src="/img/workers-pic.jpg" alt="">
                </div>
                <span class="aboutUs__right__title-bottom">Свяжитесь с нами</span>
                <div class="aboutUs__right__contact">
                    <a href="#modelZayavka" class="btn--red">Заполнить заявку</a> <span>или</span> <a href="tel:74955042679"><img
                                src="/img/icon/phone-icon.png" alt="">+7(495) 504-26-79</a>
                </div>
            </div>
        </div>
    </div>
</div>