<div class="container manufacturer-bg">
    <div class="wrapper">
        <div class="manufacturer">
         <h2>Производители</h2>
            <div class="manufacturer__slider">
                <div class="manufacturer__slider__wrapper">
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/1.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/2.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/3.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/4.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/5.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/6.png" alt="">
                    </div>
                </div>
                <div class="manufacturer__slider__wrapper">
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/1.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/2.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/3.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/4.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/5.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/6.png" alt="">
                    </div>
                </div>
                <div class="manufacturer__slider__wrapper">
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/1.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/2.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/3.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/4.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/5.png" alt="">
                    </div>
                    <div class="manufacturer__slider__item">
                        <img src="/img/manufacturer/6.png" alt="">
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>