<div class="container overHidden">
    <div class="wrapper">
        <div class="newsWrapper">
            <div class="newsWrapper__header">
                <h2>Новости</h2>
                <div class="arrowNews h-480">
                    <div class="arrowNews__left" data-move="left"></div>
                    <div class="arrowNews__right" data-move="right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="newsWrapper__slider">
        <div class="newsWrapper__slider__item">
            <a href="#">
                <img src="/img/news/1.png" alt="">
                <span class="newsWrapper__slider__item__text">Целлюлозно-бумажные <br>комбинаты</span>
                <p class="newsWrapper__slider__item__more">Показать оборудование</p>
            </a>
        </div>
        <div class="newsWrapper__slider__item">
            <a href="#">
                <img src="/img/news/2.png" alt="">
                <span class="newsWrapper__slider__item__text">Производство продуктов <br> питания</span>
                <p class="newsWrapper__slider__item__more">Показать оборудование</p>
            </a>
        </div>
        <div class="newsWrapper__slider__item">
            <a href="#">
                <img src="/img/news/3.png" alt="">
                <span class="newsWrapper__slider__item__text">Горнообогатительные <br> комбинаты</span>
                <p class="newsWrapper__slider__item__more">Показать оборудование</p>
            </a>
        </div>
        <div class="newsWrapper__slider__item">
            <a href="#">
                <img src="/img/news/4.png" alt="">
                <span class="newsWrapper__slider__item__text">Деревообрабатывающее <br>производство</span>
                <p class="newsWrapper__slider__item__more">Показать оборудование</p>
            </a>
        </div>
        <div class="newsWrapper__slider__item">
            <a href="#">
                <img src="/img/news/1.png" alt="">
                <span class="newsWrapper__slider__item__text">Химическая <br>промышленность</span>
                <p class="newsWrapper__slider__item__more">Показать оборудование</p>
            </a>
        </div>
        <!-- fack-->
        <div class="newsWrapper__slider__item">
            <a href="#">
                <img src="/img/news/2.png" alt="">
                <span class="newsWrapper__slider__item__text">Химическая <br>промышленность</span>
                <p class="newsWrapper__slider__item__more">Показать оборудование</p>
            </a>
        </div>
        <div class="newsWrapper__slider__item">
            <a href="#">
                <img src="/img/news/3.png" alt="">
                <span class="newsWrapper__slider__item__text">Химическая <br>промышленность</span>
                <p class="newsWrapper__slider__item__more">Показать оборудование</p>
            </a>
        </div>
    </div>
    <div class="arrowNews arrowNews-mob">
        <div class="arrowNews__left" data-move="left"></div>
        <div class="arrowNews__right" data-move="right"></div>
    </div>
</div>