<div class="container">
    <div class="wrapper working">
        <h2>Условия работы</h2>
        <div class="working__row">
            <div class="working__col">
                <span>1</span>
                <div class="working__col__text">
                    Свяжитесь <br>с нами
                </div>
            </div>
            <div class="working__col">
                <span>2</span>
                <div class="working__col__text">
                    Оставить <br>заявку
                </div>
            </div>
            <div class="working__col">
                <span>3</span>
                <div class="working__col__text">
                    Согласовать <br>условия
                </div>
            </div>
            <div class="working__col">
                <span>4</span>
                <div class="working__col__text">
                    Заполнение <br>договора
                </div>
            </div>
            <div class="working__col">
                <span>5</span>
                <div class="working__col__text">
                    Поставка <br>заказа
                </div>
            </div>
        </div>
        <div class="working__contact">
            <div class="working__contact__title">Свяжитесь с нами</div>
            <a href="#modelZayavka" class="btn--red">Заполнить заявку</a> <span>или</span> <a href="tel:74955042679"><img src="/img/icon/phone-icon.png" alt="">+7(495) 504-26-79</a>
        </div>
    </div>
</div>