    <div class="callTo__contact">
        <div class="callTo__contact__title">Свяжитесь с нами</div>
        <a href="#callback-popup" class="btn--red popup-with-form">Заполнить заявку</a> <span>или</span> <a href="tel:74955042679"><img src="/img/icon/phone-icon.png" alt="">+7(495) 504-26-79</a>
    </div>