<footer class="footer">
<div class="container">
	<div class="wrapper">
		<div class="footer__row">
			<div class="footer__left">
				<img class="footer__logo" src="/img/logo.png" alt="">
				<h3>Контакты</h3>
				<p>
					Россия, Москва, 115088 2-ой <br>
					Южнопортовый проезд, д.20А, стр.4., 1 <br>
					этаж БЦ «Южный ПОРТ»
				</p>
				<p class="contact">
					Tел./факс: +7 (495) 504-26-79 <br>
					Для регионов: 8 800 707-00-67
				</p>
			</div>
			<div class="footer__right">
				<div class="wrap_sub">
					<p class="wrap_sub__title">Каталог оборудования</p>
					<ul>
						<li><a href="#">Автоматика и электронника</a></li>
						<li><a href="#">Генераторы</a></li>
						<li><a href="#">Гидравлическое оборудование </a></li>
						<li><a href="#">Датчики и измерительные линейки</a></li>
						<li><a href="#">Домкраты, приводы</a></li>
						<li><a href="#">Кабели промышленные</a></li>
						<li><a href="#">Компрессоры, турбины</a></li>
						<li><a href="#">Муфты</a></li>
						<li><a href="#">Направляющие и СЛП</a></li>
						<li><a href="#">Насосы и насосные станции</a></li>
						<li><a href="#">Пневматическое оборудование</a></li>

						<li><a href="#">Лазеры промышленные</a></li>
						<li><a href="#">Фильтры</a></li>
						<li><a href="#">Редукторы и мотор-редукторы</a></li>
						<li><a href="#">Запорная арматура</a></li>
						<li><a href="#">Ремни</a></li>
						<li><a href="#">Станки и оборудование</a></li>
						<li><a href="#">Столы координатные, поворотные</a></li>
						<li><a href="#">Подъемно-транспортное оборудование</a></li>
						<li><a href="#">Шпиндели</a></li>
						<li><a href="#">Электродвигатели</a></li>
						<li><a href="#">Электроприводы двигателя</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="wrapper">
			<ul>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Новости</a></li>
			 	<li><a href="#">Производители</a></li>
				<li><a href="#">Запросить цену</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="footer__copy">
				(С) 2007-2019. ДАЛКОС Инжиниринговая компания.
			</div>
		</div>
	</div>
</div>
</footer>