<div class="container border-b">
    <div class="wrapper">
        <div class="search__center__box">
            <img class="search__center__box__img" src="/img/icon/search.png" alt="">
            <input type="text" placeholder="Поиск запчастей">
            <button type="submit">Поиск</button>
        </div>
    </div>
</div>