<div class="container">
    <div class="topMenu-wrapper">
        <div class="wrapper">
        <div class="topMenu">
            <img class="logo" src="/img/logo.png" alt="">
            <button class="hamburger hamburger--collapse" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
            </button>
            <nav>
                <ul class="topMenu__menu">
                    <li class="topMenu__menu-li has__sub">
                        <a href="/catalog">
                            Каталог оборудования
                        </a>
                        <div class="wrap_sub">
                            <p class="wrap_sub__title">Каталог оборудования</p>
                            <span class="wrap_sub__sub__title">Заказывайте оборудования или запасные части</span>
                            <ul>
                                <li><a href="#">Автоматика и электронника</a></li>
                                <li><a href="#">Генераторы</a></li>
                                <li><a href="#">Гидравлическое оборудование </a></li>
                                <li><a href="#">Датчики и измерительные линейки</a></li>
                                <li><a href="#">Домкраты, приводы</a></li>
                                <li><a href="#">Кабели промышленные</a></li>
                                <li><a href="#">Компрессоры, турбины</a></li>
                                <li><a href="#">Муфты</a></li>
                                <li><a href="#">Направляющие и СЛП</a></li>
                                <li><a href="#">Насосы и насосные станции</a></li>
                                <li><a href="#">Пневматическое оборудование</a></li>

                                <li><a href="#">Лазеры промышленные</a></li>
                                <li><a href="#">Фильтры</a></li>
                                <li><a href="#">Редукторы и мотор-редукторы</a></li>
                                <li><a href="#">Запорная арматура</a></li>
                                <li><a href="#">Ремни</a></li>
                                <li><a href="#">Станки и оборудование</a></li>
                                <li><a href="#">Столы координатные, поворотные</a></li>
                                <li><a href="#">Подъемно-транспортное оборудование</a></li>
                                <li><a href="#">Шпиндели</a></li>
                                <li><a href="#">Электродвигатели</a></li>
                                <li><a href="#">Электроприводы двигателя</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="topMenu__menu-li">
                        <a href="#">Компания</a>
                    </li>
                    <li class="topMenu__menu-li">
                        <a href="#">Производители</a>
                    </li>
                    <li class="topMenu__menu-li">
                        <a href="#">Партнеры</a>
                    </li>
                    <li class="topMenu__menu-li">
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
            <a href="tel:+74955042679" class="topMenu__tel"><img src="/img/icon/phone-icon.png" alt="">+7(495) 504-26-79</a>
        </div>
    </div>
    </div>
</div>